<div class="text-center">
<h1>Welcome</h1>
<img src="https://ichef.bbci.co.uk/news/660/media/images/76055000/jpg/_76055361_482566485.jpg">
<p> What disease do you have?</p>
<p class="text-danger">When will we use the database?</p>
</div>
