<h1 class="text-center">Add New Disease</h1>

<form method="post" action="/diseases">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" placeholder="disease name" class="form-control">
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea name="description" class="form-control" placeholder="disease description"></textarea>
    </div>

    <div class="form-group">
        <label>Terminal?</label>
        <input type="radio" name="isTerminal" value="true"> Yes
        <input type="radio" name="isTerminal" value="false">No
    </div>

    <div class="form-group">
        <label>Severity</label>
        <input type="number" name="severity" class="form-control">
    </div>
    <div class="form-group">
        <label>Transmission Method:</label>
        <input type="text" name="transmission" placeholder="transmission method" class="form-control">
    </div>
    <div class="form-group">
    <label>Symptoms</label>
    <input type="text" name="symptoms" placeholder="What are the symptoms" class="form-control">
    </div>
    <input type="submit" value ="submit disease" class="btn btn-success">
</form>
